<h1>Search Flights</h1>

<%= form_with url: flights_path, method: :get do |f| %>
    <%= f.select :departure_airport_id, @airport_options %>
    <%= f.select :arrival_airport_id, @airport_options %>

    <%= f.select :passengers, (1..4) %>

    <%= f.date_field :date %>

    <%= f.submit "Search" %>

<% end %>

<% if @flights.present?%>
    <%= form_with url: new_booking_path, method: :get do |f| %>

        <% @flights.each do |flight| %>
            <%= flight.departure_airport.code %>
            <%= flight.arrival_airport.code %>
            <%= flight.start_datetime %>
            <%= flight.duration %>
            <%= radio_button_tag :flight_id, flight.id %>
        <% end %>

        <%= f.hidden_field :passengers, value: params[:passengers] %>
        <%= f.submit "Select" %>
    <% end %>
<% end %>