<h1> New Booking </h1>

<%= form_with model: @booking do |f| %>
    <%= f.hidden_field :flight_id %>

    <h3>Passenger Details</h3>
    <%= f.fields_for :passengers do |p_fields| %>
        <div>
            <h4>Passenger <%= p_fields.index + 1 %></h4>
            
            <%= p_fields.label :name %>
            <%= p_fields.text_field :name %>

            <%= p_fields.label :email %>
            <%= p_fields.email_field :email %>
        </div>
    <% end %>

    <%= f.submit "Book Flight" %>
<% end %>