<h1>Booking Confirmed</h1>

<h2>Flight Information</h2>

<p>
    <strong>From:</strong>
    <%= @booking.flight.departure_airport.code %>
</p>

<p>
    <strong>To:</strong>
    <%= @booking.flight.arrival_airport.code %>
</p>

<p>
    <strong>Departure Time:</strong>
    <%= @booking.flight.start_datetime.strftime("%d %B %Y at %H:%M") %>
</p>

<p>
    <strong>Flight Duration:</strong>
    <%= @booking.flight.duration %> minutes
</p>

<h2>Passengers</h2>

<% @booking.passengers.each_with_index do |passenger, index| %>
    <div>
        <h3>Passenger <%= index +1 %></h3>
        <p><strong>Name:</strong> <%= passenger.name %></p>
        <p><strong>Email:</strong> <%= passenger.email %></p>
    </div>
<% end %>



